<template>
  <v-container class="main-container">
    <div class="d-flex flex-row justify-space-between align-center">
      <div>
        <h4>Hello Sharon</h4>
        <span>what would you buy today</span>
      </div>
      <div class="d-flex flex-row align-center">
        <v-icon class="mr-3">mdi-cloud-check-outline</v-icon>
        <img src="~/assets/images/sharon.jpg" width="24" height="24" class="rounded-image"/>
      </div>
    </div>
  </v-container>
</template>
<script>
export default {
  name: 'HelloSharon',
  data() {
    return {

    }
  },
}
</script>
<style scoped>
.main-container {
  max-width: 1200px;
}
.rounded-image {
  border-radius: 50%;
}
</style>
