<template>
  <div>
    <v-col cols="12" class="py-2">
      <v-btn-toggle v-model="text" tile color="purple" group>
        <v-btn v-for="item in buttonItems" :key="item" :value="item">
          {{ item }}
        </v-btn>
      </v-btn-toggle>
    </v-col>
  </div>
</template>
<script>
export default {
  name: "MostPopular",
  data() {
    return {
      text: "All",
      buttonItems: [
        "All",
        "Cleaning",
        "Repairing",
        "Painting",
        "Laundry",
        "Appliance",
      ],
    };
  },
};
</script>
<style scoped>
.v-btn {
  text-transform: unset !important;
}
</style>
