<template>
  <div class="d-flex flex-column justify-center align-center">
    <div
      class="d-flex flex-column justify-center align-center icon-container mb-3"
      :class="color + '-container'"
    >
      <v-icon :color="color">{{ icon }}</v-icon>
    </div>
    <span :class="color + '--text'">{{ text }}</span>
  </div>
</template>
<script>
export default {
  name: "ServiceItem",
  props: {
    color: String,
    icon: String,
    text: String,
  },
  data() {
    return {};
  },
};
</script>
<style scoped>
.icon-container {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.purple-container {
  background-color: rgba(114, 16, 255, 0.16);
}
.darkYellow-container {
  background-color: rgba(255, 152, 31, 0.16);
}
.lightYellow-container {
  background-color: rgba(255, 192, 45, 0.16);
}
.blue-container {
  background-color: rgba(26, 150, 240, 0.16);
}
.greenBlue-container {
  background-color: rgba(0, 188, 211, 0.16);
}
.red-container {
  background-color: rgba(245, 67, 54, 0.16);
}
.green-container {
  background-color: rgba(52, 168, 83, 0.16);
}
</style>
