<template>
  <v-card max-width="1000px">
    <v-container fluid>
      <v-text-field
        flat
        dense
        solo
        hide-details
        single-line
        placeholder="Search"
        class="search-input mb-6"
        color="#aaabae"
        background-color="#f9f9f9"
        autocomplete="off"
      >
        <template #prepend-inner>
          <v-icon color="purple">mdi-magnify</v-icon>
        </template>
        <template #append>
          <v-icon>mdi-swap-horizontal</v-icon>
        </template>
      </v-text-field>
      <Title :title="'Special Offers'" :button="'See All'" class="mb-6" />
      <img src="~/assets/images/banner.png" width="950" class="mb-6" />
      <Title :title="'Services'" :button="'See All'" class="mb-6" />
      <div class="d-flex flex-row justify-space-around mb-3">
        <div v-for="item in serviceItems1" :key="item.id">
          <v-btn text width="100" height="100">
            <template #default>
              <ServiceItem
                :color="item.color"
                :text="item.text"
                :icon="item.icon"
              />
            </template>
          </v-btn>
        </div>
      </div>
      <div class="d-flex flex-row justify-space-around mb-3">
        <div v-for="item in serviceItems2" :key="item.id">
          <v-btn text width="100" height="100">
            <template #default>
              <ServiceItem
                :color="item.color"
                :text="item.text"
                :icon="item.icon"
              />
            </template>
          </v-btn>
        </div>
      </div>
      <v-divider class="mb-4"></v-divider>
      <Title :title="'Most Popular Services'" :button="'See All'" />
      <MostPopular />
    </v-container>
  </v-card>
</template>
<script>
import Title from "./Title";
import ServiceItem from "./ServiceItem";
import MostPopular from "./MostPupular";
export default {
  name: "SharonDetails",
  components: { MostPopular, ServiceItem, Title },
  data() {
    return {
      serviceItems1: [
        {
          id: 0,
          icon: "mdi-silverware-clean",
          color: "purple",
          text: "Cleaning",
        },
        {
          id: 1,
          icon: "mdi-car-wrench",
          color: "darkYellow",
          text: "Repairing",
        },
        {
          id: 2,
          icon: "mdi-format-paint",
          color: "blue",
          text: "Painting",
        },
        {
          id: 3,
          icon: "mdi-washing-machine ",
          color: "lightYellow",
          text: "Laundry",
        },
      ],
      serviceItems2: [
        {
          id: 4,
          icon: "mdi-application-edit",
          color: "red",
          text: "Appliance",
        },
        {
          id: 5,
          icon: "mdi-pen-plus",
          color: "green",
          text: "Plumbing",
        },
        {
          id: 6,
          icon: "mdi-truck",
          color: "greenBlue",
          text: "Shifting",
        },
        {
          id: 7,
          icon: "mdi-dots-horizontal-circle ",
          color: "purple",
          text: "More",
        },
      ],
    };
  },
};
</script>
<style scoped>
.search-input {
  border-color: white;
  box-shadow: #cacccf;
}
.v-btn:not(.v-btn--round).v-size--default {
  height: 100px !important;
}
.v-btn {
  text-transform: unset !important;
}
</style>
