<template>
  <div class="d-flex flex-row justify-space-between align-center">
    <h3>{{ title }}</h3>
    <v-btn text color="purple">
      {{ button }}
    </v-btn>
  </div>
</template>
<script>
export default {
  name: "Title",
  props: {
    title: String,
    button: String,
  },
  data() {
    return {};
  },
};
</script>
<style scoped>
.v-btn {
  text-transform: unset !important;
}
</style>
