<template>
  <v-app>
    <v-app-bar elevation="0" color="white" max-height="60px">
      <div
        class="d-flex flex-row justify-space-between align-center full-width"
      >
        <div class="d-flex flex-row align-center">
          <v-btn icon>
            <template #default>
              <v-icon class="mr-3" color="purple"
                >mdi-paper-cut-vertical</v-icon
              >
            </template>
          </v-btn>
          <h2>Minista</h2>
        </div>
      </div>
    </v-app-bar>

    <v-main>
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "DefaultLayout",
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: "mdi-apps",
          title: "Welcome",
          to: "/",
        },
        {
          icon: "mdi-chart-bubble",
          title: "Inspire",
          to: "/inspire",
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Vuetify.js",
    };
  },
};
</script>
<style scoped>
.full-width {
  width: 100% !important;
}
span {
  width: unset;
}
.v-btn__content {
  display: inline-flex !important;
}
</style>
