<template>
  <v-container fluid class="pa-0">
    <HelloSharon />
    <SharonDetails />
  </v-container>
</template>
<script>
import HelloSharon from "~/components/HelloSharon";
import SharonDetails from "~/components/SharonDetails";

export default {
  name: "HomePage",
  data() {
    return {};
  },
  components: {
    SharonDetails,
    HelloSharon,
  },
};
</script>
<style scoped></style>
